## String Based Problems

##### 1. Reverse a string

In [1]:
def reverse_string(s):
    return s[::-1]

##### 2. Check if a string is a palindrome

In [ ]:
def is_palindrome(s):
    cleaned = s.replace(" ", "").lower()
    return cleaned == cleaned[::-1]

##### 3. Convert a string to uppercase

In [ ]:
def to_uppercase(s):
    return s.upper()

##### 4. Convert a string to lowercase

In [ ]:
def to_lowercase(s):
    return s.lower()

##### 5. Count the number of vowels in a string

In [ ]:
def count_vowels(s):
    return sum(1 for char in s.lower() if char in "aeiou")

##### 6. Count the number of consonants in a string

In [ ]:
def count_consonants(s):
    return sum(1 for char in s.lower() if char.isalpha() and char not in "aeiou")

##### 7. Remove all whitespaces from a string

In [ ]:
def remove_spaces(s):
    return s.replace(" ", "")

##### 8. Find the length of a string without using the `len()` function

In [ ]:
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

##### 9. Check if a string contains a specific word

In [ ]:
def contains_word(s, word):
    return word in s

##### 10. Replace a word in a string with another word

In [ ]:
def replace_word(s, old, new):
    return s.replace(old, new)

##### 11. Count the occurrences of a word in a string

In [ ]:
def count_word_occurrences(s, word):
    return s.count(word)

##### 12. Find the first occurrence of a word in a string

In [ ]:
def find_first_occurrence(s, word):
    return s.find(word)

##### 13. Find the last occurrence of a word in a string

In [2]:
def find_last_occurrence(s, word):
    return s.rfind(word)

##### 14. Split a string into a list of words

In [3]:
def split_string(s):
    return s.split()

##### 15. Join a list of words into a string

In [ ]:
def join_words(words):
    return " ".join(words)

##### 16. Convert spaces to underscores in a string

In [ ]:
def spaces_to_underscores(s):
    return s.replace(" ", "_")

##### 17. Check if a string starts with a specific word

In [ ]:
def starts_with(s, word):
    return s.startswith(word)

##### 18. Check if a string ends with a specific word

In [ ]:
def ends_with(s, word):
    return s.endswith(word)

##### 19. Convert a string to title case

In [ ]:
def to_title_case(s):
    return s.title()

##### 20. Find the longest word in a string

In [ ]:
def find_longest_word(s):
    words = s.split()
    return max(words, key=len)

##### 21. Find the shortest word in a string

In [ ]:
def find_shortest_word(s):
    words = s.split()
    return min(words, key=len)

##### 22. Reverse the order of words in a string

In [ ]:
def reverse_words(s):
    return " ".join(s.split()[::-1])

##### 23. Check if a string is alphanumeric

In [ ]:
def is_alphanumeric(s):
    return s.isalnum()

##### 24. Extract all digits from a string

In [ ]:
def extract_digits(s):
    return ''.join(char for char in s if char.isdigit())

##### 25. Extract all alphabets from a string

In [4]:
def extract_alphabets(s):
    return ''.join(char for char in s if char.isalpha())

##### 26. Count the number of uppercase letters in a string

In [ ]:
def count_uppercase(s):
    return sum(1 for char in s if char.isupper())

##### 27. Count the number of lowercase letters in a string

In [5]:
def count_lowercase(s):
    return sum(1 for char in s if char.islower())

##### 28. Swap the case of each character in a string

In [ ]:
def swap_case(s):
    return s.swapcase()

##### 29. Remove a specific word from a string

In [ ]:
def remove_word(s, word):
    return s.replace(word, "")

##### 30. Check if a string is a valid email address

In [ ]:
import re

def is_valid_email(s):
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, s) is not None

##### 31. Extract the username from an email address

In [ ]:
def extract_username(email):
    return email.split('@')[0]

##### 32. Extract the domain name from an email address

In [6]:
def extract_domain(email):
    return email.split('@')[1]

##### 33. Replace multiple spaces in a string with a single space

In [7]:
def replace_multiple_spaces(s):
    return ' '.join(s.split())

##### 34. Check if a string is a valid URL

In [ ]:
def is_valid_url(s):
    pattern = r'(http|https)://[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}'
    return re.match(pattern, s) is not None

##### 35. Extract the protocol from a URL string

In [ ]:
def extract_protocol(url):
    return url.split('://')[0]

##### 36. Find the frequency of each character in a string

In [ ]:
from collections import Counter

def char_frequency(s):
    return Counter(s)

##### 37. Remove all punctuation from a string

In [8]:
import string

def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

##### 38. Check if a string contains only digits

In [ ]:
def is_digit_only(s):
    return s.isdigit()

##### 39. Check if a string contains only alphabets

In [ ]:
def is_alpha_only(s):
    return s.isalpha()

##### 40. Convert a string to a list of characters

In [ ]:
def string_to_char_list(s):
    return list(s)

##### 41. Check if two strings are anagrams

In [9]:
def are_anagrams(s1, s2):
    return sorted(s1.replace(" ", "").lower()) == sorted(s2.replace(" ", "").lower())

##### 42. Encode a string using a Caesar cipher

In [ ]:
def caesar_cipher_encode(s, shift):
    return ''.join(chr((ord(char) - 97 + shift) % 26 + 97) if char.islower() else chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else char for char in s)

##### 43. Decode a Caesar cipher encoded string

In [ ]:
def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

##### 44. Find the most frequent word in a string

In [10]:
from collections import Counter

def most_frequent_word(s):
    words = s.split()
    return Counter(words).most_common(1)[0][0]

##### 45. Find all unique words in a string

In [ ]:
def unique_words(s):
    return set(s.split())

##### 46. Count the number of syllables in a string

In [11]:
def count_syllables(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

##### 47. Check if a string contains any special characters

In [12]:
import string

def contains_special_char(s):
    return any(char in string.punctuation for char in s)

##### 48. Remove the nth word from a string

In [ ]:
def remove_nth_word(s, n):
    words = s.split()
    if n <= len(words):
        del words[n - 1]
    return ' '.join(words)

##### 49. Insert a word at the nth position in a string

In [ ]:
def insert_word(s, word, n):
    words = s.split()
    words.insert(n - 1, word)
    return ' '.join(words)

##### 50. Convert a CSV string to a list of lists

In [ ]:
def csv_to_list(csv_string):
    return [row.split(',') for row in csv_string.splitlines()]

## List Based Problems

##### 1. Create a list with integers from 1 to 10

In [56]:
lst = list(range(1, 11))

##### 2. Find the length of a list without using the len() function

In [14]:
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

##### 3. Append an element to the end of a list

In [15]:
lst.append(11)

##### 4. Insert an element at a specific index in a list

In [16]:
lst.insert(5, 99)

##### 5. Remove an element from a list by its value

In [17]:
lst.remove(99)

##### 6. Remove an element from a list by its index

In [ ]:
lst.pop(5)

##### 7. Check if an element exists in a list

In [18]:
element_exists = 5 in lst

##### 8. Find the index of the first occurrence of an element in a list

In [20]:
index_of_element = lst.index(5)

##### 9. Count the occurrences of an element in a list

In [21]:
count_of_element = lst.count(5)

##### 10. Reverse the order of elements in a list

In [22]:
lst.reverse()

##### 11. Sort a list in ascending order

In [23]:
lst.sort()

##### 12. Sort a list in descending order

In [24]:
lst.sort(reverse=True)

##### 13. Create a list of even numbers from 1 to 20

In [25]:
evens = [x for x in range(1, 21) if x % 2 == 0]

##### 14. Create a list of odd numbers from 1 to 20

In [26]:
odds = [x for x in range(1, 21) if x % 2 != 0]

##### 15. Find the sum of all elements in a list

In [27]:
sum_of_elements = sum(lst)

##### 16. Find the maximum value in a list

In [28]:
max_value = max(lst)

##### 17. Find the minimum value in a list

In [29]:
min_value = min(lst)

##### 18. Create a list of squares of numbers from 1 to 10

In [30]:
squares = [x ** 2 for x in range(1, 11)]

##### 19. Create a list of random numbers

In [31]:
import random
random_numbers = [random.randint(1, 100) for i in range(10)]

##### 20. Remove duplicates from a list

In [32]:
lst = list(set(lst))

##### 21. Find the common elements between two lists

In [34]:
lst1 = [1, 2, 3, 4, 5, 6, 7]
lst2 = [4, 5, 6, 7, 8, 9, 10]

common_elements = list(set(lst1) & set(lst2))

##### 22. Find the difference between two lists

In [35]:
difference = list(set(lst1) - set(lst2))

##### 23. Merge two lists

In [36]:
merged_list = lst1 + lst2

##### 24. Multiply all elements in a list by 2

In [37]:
multiplied_list = [x * 2 for x in lst]

##### 25. Filter out all even numbers from a list

In [38]:
odd_numbers = [x for x in lst if x % 2 != 0]

##### 26. Convert a list of strings to a list of integers

In [41]:
str_list = ["1", "2", "5", "9"]
int_list = list(map(int, str_list))

##### 27. Convert a list of integers to a list of strings

In [42]:
int_list = [1, 3, 6, 9]
str_list = list(map(str, int_list))

##### 28. Flatten a nested list

In [44]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flat_list = [item for sublist in nested_list for item in sublist]

##### 29. Create a list of the first 10 Fibonacci numbers

In [45]:
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib

fibonacci_list = fibonacci(10)

##### 30. Check if a list is sorted

In [46]:
is_sorted = lst == sorted(lst)

##### 31. Rotate a list to the left by n positions

In [47]:
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

##### 32. Rotate a list to the right by n positions

In [48]:
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

##### 33. Create a list of prime numbers up to 50

In [49]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_num = [x for x in range(2, 51) if is_prime(x)]

##### 34. Split a list into chunks of size n

In [50]:
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

##### 35. Find the second largest number in a list

In [51]:
second_largest = sorted(set(lst))[-2]

##### 36. Replace every element in a list with its square

In [52]:
squared_list = [x ** 2 for x in lst]

##### 37. Convert a list to a dictionary where list elements become keys and their indices become values

In [53]:
lst_dict = {val: idx for idx, val in enumerate(lst)}

##### 38. Shuffle the elements of a list randomly

In [60]:
random.shuffle(lst)
lst

[5, 7, 1, 8, 9, 2, 10, 4, 6, 3]

##### 39. Create a list of the first 10 factorial numbers

In [61]:
import math
factorials = [math.factorial(x) for x in range(1, 11)]

##### 40. Check if two lists have at least one element in common

In [ ]:
has_common = bool(set(lst1) & set(lst2))

##### 41. Remove all elements from a list

In [62]:
lst.clear()

##### 42. Replace negative numbers in a list with 0

In [63]:
lst = [0 if x < 0 else x for x in lst]

##### 43. Convert a string into a list of words

In [66]:
s = "hello world!"
word_list = s.split()

##### 44. Convert a list of words into a string

In [67]:
sentence = " ".join(word_list)

##### 45. Create a list of the first n powers of 2

In [68]:
def powers_of_two(n):
    return [2 ** i for i in range(n)]

##### 46. Find the longest string in a list of strings

In [76]:
lst = ["hello", "world", "python"]

longest_string = max(lst, key=len)

##### 47. Find the shortest string in a list of strings

In [77]:
shortest_string = min(lst, key=len)

##### 48. Create a list of the first n triangular numbers

In [78]:
def triangular_numbers(n):
    return [int(i * (i + 1) / 2) for i in range(1, n + 1)]

##### 49. Check if a list contains another list as a subsequence

In [79]:
def is_subsequence(lst, sub_lst):
    it = iter(lst)
    return all(item in it for item in sub_lst)

##### 50. Sap two elements in a list by their indices

In [80]:
def swap_elements(lst, idx1, idx2):
    lst[idx1], lst[idx2] = lst[idx2], lst[idx1]

## Tuple Based Problems

##### 1. Create a tuple with integers from 1 to 5

In [101]:
tpl = (1, 2, 3, 4, 5)

##### 2. Access the third element of a tuple

In [82]:
third_element = tpl[2]

##### 3. Find the length of a tuple without using the len() function

In [83]:
def tuple_length(tpl):
    count = 0
    for _ in tpl:
        count += 1
    return count

##### 4. Count the occurrences of an element in a tuple

In [84]:
count_of_element = tpl.count(3)

##### 5. Find the index of the first occurrence of an element in a tuple

In [85]:
index_of_element = tpl.index(3)

##### 6. Check if an element exists in a tuple

In [86]:
element_exists = 3 in tpl

##### 7. Convert a tuple to a list

In [87]:
tpl_list = list(tpl)

##### 8. Convert a list to a tuple

In [88]:
lst = [1, 2, 3]
tpl_from_list = tuple(lst)

##### 9. Unpack the elements of a tuple into variables

In [89]:
a, b, c, d, e = tpl

##### 10. Create a tuple of even numbers from 1 to 10

In [90]:
evens = tuple(x for x in range(1, 11) if x % 2 == 0)

##### 11. Create a tuple of odd numbers from 1 to 10

In [91]:
odds = tuple(x for x in range(1, 11) if x % 2 != 0)

##### 12. Concatenate two tuples

In [92]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated_tuple = tpl1 + tpl2

##### 13. Repeat a tuple three times

In [93]:
repeated_tuple = tpl * 3

##### 14. Check if a tuple is empty

In [94]:
is_empty = len(tpl) == 0

##### 15. Create a nested tuple

In [95]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

##### 16. Access the first element of a nested tuple

In [96]:
first_element_nested = nested_tuple[0][0]

##### 17. Create a tuple with a single element

In [97]:
single_element_tuple = (5,)

##### 18. Compare two tuples

In [98]:
tpl1 = (1, 2, 3)
tpl2 = (1, 2, 3)
are_equal = tpl1 == tpl2

##### 19. Delete a tuple

In [99]:
del tpl

##### 20. Slice a tuple

In [102]:
sliced_tuple = tpl[1:4]

##### 21. Find the maximum value in a tuple

In [103]:
max_value = max(tpl)

##### 22. Find the minimum value in a tuple

In [104]:
min_value = min(tpl)

##### 23. Convert a string to a tuple of characters

In [105]:
string_to_tuple = tuple("hello")

##### 24. Convert a tuple of characters to a string

In [106]:
tuple_to_string = ''.join(string_to_tuple)

##### 25. Create a tuple from multiple data types

In [107]:
mixed_tuple = (1, "hello", True, 3.14)

##### 26. Check if two tuples are identical

In [108]:
are_identical = tpl1 == tpl2

##### 27. Sort the elements of a tuple

In [109]:
sorted_tuple = tuple(sorted(tpl))

##### 28. Convert a tuple of integers to a tuple of strings

In [110]:
str_tuple = tuple(map(str, tpl))

##### 29. Convert a tuple of strings to a tuple of integers

In [111]:
int_tuple = tuple(map(int, str_tuple))

##### 30. Merge two tuples

In [112]:
merged_tuple = tpl1 + tpl2

##### 31. Flatten a nested tuple

In [113]:
flat_tuple = tuple(item for sublist in nested_tuple for item in sublist)

##### 32. Create a tuple of the first 5 prime numbers

In [114]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_tuple = tuple(x for x in range(2, 20) if is_prime(x))[:5]

##### 33. Check if a tuple is a palindrome

In [115]:
is_palindrome = tpl == tpl[::-1]

##### 34. Create a tuple of squares of numbers from 1 to 5

In [116]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

##### 35. Filter out all even numbers from a tuple

In [ ]:
filtered_tuple = tuple(x for x in tpl if x % 2 != 0)

##### 36. Multiply all elements in a tuple by 2

In [117]:
multiplied_tuple = tuple(x * 2 for x in tpl)

##### 37. Create a tuple of random numbers

In [118]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

##### 38. Check if a tuple is sorted

In [119]:
is_sorted = tpl == tuple(sorted(tpl))

##### 39. Rotate a tuple to the left by n positions

In [120]:
def rotate_left(tpl, n):
    return tpl[n:] + tpl[:n]

##### 40. Rotate a tuple to the right by n positions

In [121]:
def rotate_right(tpl, n):
    return tpl[-n:] + tpl[:-n]

##### 41. Create a tuple of the first 5 Fibonacci numbers

In [122]:
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return tuple(fib)

fibonacci_tuple = fibonacci(5)

##### 42. Create a tuple from user input

In [124]:
user_input = input("Enter numbers separated by commas: ")
tpl_from_input = tuple(map(int, user_input.split(',')))

##### 43. Swap two elements in a tuple

In [125]:
def swap_elements(tpl, i, j):
    lst = list(tpl)
    lst[i], lst[j] = lst[j], lst[i]
    return tuple(lst)

##### 44. Reverse the elements of a tuple

In [126]:
reversed_tuple = tpl[::-1]

##### 45. Create a tuple of the first n powers of 2

In [127]:
def powers_of_two(n):
    return tuple(2 ** i for i in range(n))

##### 46. Find the longest string in a tuple of strings

In [129]:
s_tpl = ("hello", "world", "python")
longest_string = max(s_tpl, key=len)

##### 47. Find the shortest string in a tuple of strings

In [131]:
shortest_string = min(s_tpl, key=len)

##### 48. Create a tuple of the first n triangular numbers

In [132]:
def triangular_numbers(n):
    return tuple(int(i * (i + 1) / 2) for i in range(1, n + 1))

##### 49. Check if a tuple contains another tuple as a subsequence

In [133]:
def is_subsequence(tpl, sub_tpl):
    return all(item in tpl for item in sub_tpl)

##### 50. Create a tuple of alternating 1s and 0s of length n

In [134]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

## Set Based Problems

##### 1. Create a set with integers from 1 to 5

In [138]:
st = {1, 2, 3, 4, 5}

##### 2. Add an element to a set

In [139]:
st.add(6)

##### 3. Remove an element from a set

In [140]:
st.remove(3)

##### 4. Check if an element exists in a set

In [141]:
element_exists = 2 in s

##### 5. Find the length of a set without using the len() function

In [142]:
def set_length(st):
    count = 0
    for i in st:
        count += 1
    return count

##### 6. Clear all elements from a set

In [ ]:
st.clear()

##### 7. Create a set of even numbers from 1 to 10

In [143]:
evens = {x for x in range(1, 11) if x % 2 == 0}

##### 8. Create a set of odd numbers from 1 to 10

In [144]:
odds = {x for x in range(1, 11) if x % 2 != 0}

##### 9. Find the union of two sets

In [145]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

##### 10. Find the intersection of two sets

In [146]:
intersection_set = set1.intersection(set2)

##### 11. Find the difference between two sets

In [147]:
difference_set = set1.difference(set2)

##### 12. Check if a set is a subset of another set

In [ ]:
is_subset = set1.issubset(set2)

##### 13. Check if a set is a superset of another set

In [148]:
is_superset = set2.issuperset(set1)

##### 14. Create a set from a list

In [149]:
lst = [1, 2, 3, 4, 5]
set_from_list = set(lst)

##### 15. Convert a set to a list

In [150]:
list_from_set = list(s)

##### 16. Remove a random element from a set

In [151]:
random_element = s.pop()

##### 17. Pop an element from a set

In [152]:
popped_element = s.pop()

##### 18. Check if two sets have no elements in common

In [153]:
are_disjoint = set1.isdisjoint(set2)

##### 19. Find the symmetric difference between two sets

In [154]:
symmetric_diff = set1.symmetric_difference(set2)

##### 20. Update a set with elements from another set

In [155]:
set1.update(set2)

##### 21. Create a set of the first 5 prime numbers

In [156]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = {x for x in range(2, 20) if is_prime(x)}

##### 22. Check if two sets are identical

In [157]:
are_identical = set1 == set2

##### 23. Create a frozen set

In [158]:
frozen_set = frozenset([1, 2, 3])

##### 24. Check if a set is disjoint with another set

In [159]:
squares_set = {x ** 2 for x in range(1, 6)}

##### 25. Create a set of squares of numbers from 1 to 5

In [160]:
squares_set = {x ** 2 for x in range(1, 6)}

##### 26. Filter out all even numbers from a set

In [161]:
filtered_set = {x for x in s if x % 2 != 0}

##### 27. Multiply all elements in a set by 2

In [162]:
multiplied_set = {x * 2 for x in s}

##### 28. Create a set of random numbers

In [163]:
import random
random_set = {random.randint(1, 100) for _ in range(5)}

##### 29. Check if a set is empty

In [164]:
is_empty = len(s) == 0

##### 30. Create a nested set (hint: use frozenset)

In [165]:
nested_set = {frozenset([1, 2]), frozenset([3, 4])}

##### 31. Remove an element from a set using the discard method

In [ ]:
st.discard(3)

##### 32. Compare two sets

In [ ]:
are_equal = set1 == set2

##### 33. Create a set from a string

In [ ]:
set_from_string = set("hello")

##### 34. Convert a set of strings to a set of integers

In [ ]:
str_set = {"1", "2", "3"}
int_set = {int(x) for x in str_set}

##### 35. Convert a set of integers to a set of strings

In [ ]:
int_set = {1, 2, 3}
str_set = {str(x) for x in int_set}

##### 36. Create a set from a tuple

In [ ]:
tup = (1, 2, 3)
set_from_tuple = set(tup)

##### 37. Convert a set to a tuple

In [ ]:
tuple_from_set = tuple(s)

##### 38. Find the maximum value in a set

In [ ]:
max_value = max(s)

##### 39. Find the minimum value in a set

In [ ]:
min_value = min(s)

##### 40. Create a set from user input

In [ ]:
user_input = input("Enter numbers separated by spaces: ")
user_set = {int(x) for x in user_input.split()}

##### 41. Check if the intersection of two sets is empty

In [ ]:
is_intersection_empty = set1.isdisjoint(set2)

##### 42. Create a set of the first 5 Fibonacci numbers

In [ ]:
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return set(fib)

fibonacci_set = fibonacci(5)

##### 43. Remove duplicates from a list using sets

In [ ]:
lst = [1, 2, 2, 3, 3, 4]
unique_list = list(set(lst))

##### 44. Check if two sets have the same elements, regardless of their count

In [ ]:
def sets_equal(set1, set2):
    return set(set1) == set(set2)

##### 45. Create a set of the first n powers of 2

In [ ]:
def powers_of_two(n):
    return {2 ** i for i in range(n)}

##### 46. Find the common elements between a set and a list

In [ ]:
lst = [2, 4, 6, 8]
common_elements = st.intersection(lst)

##### 47. Create a set of the first n triangular numbers

In [ ]:
def triangular_numbers(n):
    return {int(i * (i + 1) / 2) for i in range(1, n + 1)}

##### 48. Check if a set contains another set as a subset

In [ ]:
subset = {1, 2}
is_subset = subset.issubset(s)

##### 49. Create a set of alternating 1s and 0s of length n

In [ ]:
def alternating_ones_zeros(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

##### 50. Merge multiple sets into one

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}
merged_set = set1.union(set2, set3)